<a href="https://colab.research.google.com/github/darenjabrica/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

Phython Variables

In [12]:
x = float(1)
a, b = 0, -1
a,b,c="Sally","John","Ana"

print('This a sample')
print(a)
print(b)
print(c)

This a sample
Sally
John
Ana

Casting

In [13]:
print(x)

1.0

Type() Function

In [18]:
y="Johnny"
print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes  and Single quotes

In [21]:
#h="Maria"
h='Maria'
v="1"
v= 1
print(h)
print(v)
print(v+1)

Maria
1
2

Multiple Variables

In [29]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [30]:
x=y=z="Daren Jabrica"
print(x)
print(y)
print(z)

Daren Jabrica
Daren Jabrica
Daren Jabrica

Output Variables

In [37]:
x='enjoying'
y="Python is"
print(y + " " + x)

Python is enjoying

Arithmetic Operations

In [53]:
f= 1
g= 2
c= 6
print(f+g)
print(f-g)
print(f*g)
print(int(f/g))
print(3/g)
print(3%g)
print(3//g)
print(3**g)
print(3|4)

3
-1
2
0
1.5
1
1
9
7

Boolean Operators

In [60]:
k= 2
l=1

print(k>>2) #shift twice right
print(k<<2) #shift twice left

0
8

Assignment Operators

In [61]:
s= 2
s*=5 #Same as s=s * 5
print(s)

10

Ralational Operators

In [64]:
print(v>s) # v=1, s=2
print(v==s)

False
False

Logical Operators

In [72]:
print(v<s and s==s) #True
print(v<s or s==v) #True
print(not(s<v or s==v)) #True

True
True
True

Identity Operators

In [76]:
print(v is s)
print(v is not s)

False
True