<a href="https://colab.research.google.com/github/darenjabrica/OOP-58001/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [2]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool() function

In [15]:
print(bool("Maria"))
print(bool(19))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Function can return a Boolean

In [23]:
def myFunction():
  return True

print(myFunction())

True

In [22]:
if myFunction():
  print("Yes!")
else:
  print("No!")

Yes!

Application 1

In [30]:
print(10>9)
a=60
b=13
print(a==b)
print(a!=b)

True
False
True

In [31]:
a=60
b=13
print(a>b)

if a<b:
  print("a is less than b")
else:
  print("a is greater than b")

True
a is greater than b

Python Operators

In [34]:
print(10+3)
print(10-3)
print(10*3)
print(10/3)
print(10//3)
print(10%3)
print(10&3)

13
7
30
3.3333333333333335
3
1
2

Bitwise Operators

In [39]:
# a = 60, binary 0011 1100
# b = 13, binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a<<2)

12
61
49
120
240

Application 2

In [49]:
#Assignment Operators
x=2
x += 3 #Same As x=x+3, x=2+3=5
print(x)
x -= 3 #Same As x=x-3
x *= 3 #Same As x=x*3
x /= 3 #Same As x=x/3
x %= 3 #Same As x=x%3

5

Logical Operators

In [52]:
k = True
l = False
print(k and l)
print(k or l)
print(not(k or l))

False
True
False

Identity Operators

In [53]:
k is l 
k is not l

True

#Control Structure

If Statement

In [66]:
v=2
z=2

if 1<2:
  print("1 is less than 2")

1 is less than 2

Elif Statement

In [ ]:
if v<z:
  print("v is less than z")
elif v>2:
  print("v is greater than z")

Else Statement

In [77]:
number = int(input())

if number>0:
  print("positive")
elif number<0:
  print("negative")
else:
  print("number is equal to zero")

0
number is equal to zero

Application 3 - Develop a Python program that will accept if a person is entitled to vote or not

In [78]:
age = int(input())
if age>=19:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

19
You are qualified to vote

Nested If... Else

In [94]:
c= int(input())
if c>10:
  print("c is above 10")
if c>20:
    print("c is above 20")
    if c>30:
      print("c is above 30")
    if c>40:
      print("c is above 40")
    else:
      print("c is below 40")
    if c>50:
      print("c is above 50")
    else:
      print("c is below 50")

51
c is above 10
c is above 20
c is above 30
c is above 40
c is above 50

#Loop Structure

In [98]:
week =['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
season=['rainy','sunny']
for x in week:
  for y in season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday
rainy Sunday
sunny Sunday

The break statement

In [104]:
for x in week:
  if x=='Thursday':
   break
print(x)

Thursday

In [105]:
#To display Sundayto Thursday

for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While loop

In [109]:
i=1
while i<6:
 print(i)
 i+=1

1
2
3
4
5

Application 4 - Create a Python program that displays number from 1 to 4 using While loop statement

In [113]:
j=1
while j<=4:
 print(j)
 j+=1

1
2
3
4

Application 4 - Create a Python program that displays number 4 using While loop statement and break statement

In [114]:
j=1
while j<=4:
  if j==4:
   print(j)
  j+=1

4